@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Noto+Sans+TC:400,700|Raleway:400,700&display=swap')

*
  position: relative

html,body
  margin: 0
  padding: 0

#app
  // min-height: 100vh
  .container
    font-family: 'Muli', 'Noto Sans TC', 微軟正黑體, sans-serif
    color: $color_black
    max-width: 1200px

@media (min-width: 1200px)
  .container
    max-width: 100%