@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Noto+Sans+TC:400,700|Raleway:400,700&display=swap')

*
  position: relative
  box-sizing: border-box

html,body
  margin: 0
  padding: 0
  // cursor: none
  overflow-x: hidden
  a, a:focus, a:hover, label
    color: inherit
    text-decoration: none
    cursor: none

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms
  transition-delay: 0

#app
  font-family: 'Muli', 'Noto Sans TC', 微軟正黑體, sans-serif
  .container
    padding-top: 100px
    max-width: 1200px
    text-align: center

@media (min-width: 1200px)
  .container
    max-width: 100%

@media (max-width: 768px)
  #app .container
    padding-top: 90px