#app
  header, footer
    z-index: 99

  /*header*/
  .brand
    position: fixed
    top: 50px
    left: 8%
    font-size: $font_base_size*4
    line-height: $font_base_size*4
    &:hover, &:focus
      text-decoration: none

  nav
    display: flex
    position: fixed
    top: 50px
    left: 92%
    transform: rotate(90deg)
    transform-origin: 0 0
    a
      font-size: $font_base_size*2.5
      line-height: $font_base_size*2.5
      & + a
        margin-left: 1.5rem
      &::before
        content: ''
        position: absolute
        width: 105%
        height: 55%
        transform: translate(10%,0%)
        transition: .2s
        z-index: -1
      &:hover::before, &.router-link-exact-active::before
        transform: translate(-2.5%,110%)

  /* footer */
  .mode-toggle
    input
      display: none
      &:checked + .toggle-button
        background: $color_bluegreen
        &::after
          top: calc(100% - 5px)
          transform: translateY(-100%)
    .toggle-button
      display: flex
      justify-content: center
      align-items: center
      position: fixed
      left: 8%
      bottom: 50px
      width: 30px
      height: 60px
      color: $color_white
      border-radius: 50cm
      background: $color_gray
      &::after
        content: ''
        position: absolute
        top: 5px
        width: 20px
        height: 20px
        border-radius: 50%
        background: $color_white
        transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms
      svg
        position: absolute
        opacity: .4
        &:nth-of-type(1)
          top: 7px
        &:nth-of-type(2)
          bottom: 7px

  .copyright
    display: flex
    flex-direction: column
    position: fixed
    right: 8%
    bottom: 50px
    line-height: $font_base_size*2.5
    span:nth-of-type(1)
      font-size: $font_base_size*3
    span:nth-of-type(2)
      font-size: $font_base_size*2

  .cursorC, .cursorP
    position: fixed
    border-radius: 50%
    transform: translateX(-50%) translateY(-50%)
    pointer-events: none
  .cursorC
    top: -30px
    left: -30px
    width: 60px
    height: 60px
    transition: all 0.1s ease-out!important
    z-index: 9999
    &.hover
      top: -45px
      left: -45px
      width: 90px
      height: 90px
  .cursorP
    top: -4px
    left: -4px
    width: 8px
    height: 8px
    background: $color_bluegreen
    transition: none!important
    z-index: 9998

@media (max-width: 768px)
  #app
    .brand
      top: 5%
      left: 15px
    nav
      top: 5%
      left: calc(100% - 15px)
    .cursorC, .cursorP, .copyright
      display: none
    .mode-toggle .toggle-button
      left: calc(100% - 45px)
      bottom: 5%