.about 
	.about-img, .about-img-bd
		position: fixed
		top: 0
		right: 50%
		height: 100vh
		z-index: -1
	.about-img
		animation: leftToMiddle .5s ease-in 0s 1 normal
	.about-img-bd
		animation: fadeOut 1s ease-in-out .4s 1 normal
		animation-fill-mode: forwards