.about 
	padding-bottom: 100px
	.about-img, .about-img-bd
		position: fixed
		top: 0
		right: 50%
		height: 100vh
		z-index: -1
	.about-img
		right: 100%
		animation: leftToMiddle .5s ease-in .4s 1 normal
		animation-fill-mode: forwards
	.about-img-bd
		animation: fadeOut 1s ease-in-out .8s 1 normal
		animation-fill-mode: forwards

	.content
		width: 50%
		left: 50%
		padding: 30px 30px
		text-align: left
	h1
		font-size: $font_base_size*3
		font-weight: bold
		span
			color: $color_bluegreen
	h3
		font-size: $font_base_size*2
		color: $color_gray
	.title
		font-size: $font_base_size*1.5
		color: $color_bluegreen
		margin: 4rem 0 2rem
		font-weight: bold
	p
		font-size: $font_base_size*1.8
		line-height: $font_base_size*2
		margin-bottom: 0
		& + p
			margin-top: 2rem
	.sm-gray
		font-size: $font_base_size*1.5
		color: $color_gray

	.skills
		p
			line-height: $font_base_size*3
		.bottom-title
			color: $color_bluegreen
			span
				animation: waveText 0.2s infinite alternate

@for $i from 0 to 40
	.bottom-title span:nth-child(#{$i})
		animation-delay: -#{$i * 100}ms

@media (max-width: 1200px)
	.about 
		.about-img, .about-img-bd
			position: absolute
			top: 25px
			width: 50%
			height: auto
			transform: translateX(50%)
		.about-img
			position: relative
			transform: translateX(100%)
			margin-bottom: 2rem
		.content
			width: 100%
			left: 0
			text-align: center