.home
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	height: calc(100vh - 100px)
	.visual-logo
		display: flex
		justify-content: center
		align-items: center
		width: 50vh
		height: 50vh
		margin-bottom: 30px
		border-radius: 50%
		transition: all 0.5s ease-out
	.title
		position: fixed
		font-size: $font_base_size*5
		font-family: 'Raleway', 'Noto Sans TC', 微軟正黑體, sans-serif
		font-weight: bold
		letter-spacing: 12px
		text-transform: uppercase
		text-shadow: 0 1px 0 rgba(black, 0.1)
		transform: translateY(-50px)
	p
		font-size: $font_base_size*2.5
	.about-pre
		position: fixed
		top: 0
		right: 50%
		height: 100vh
		opacity: 0
		z-index: -1
		&.show
			animation: fadeOut .8s ease-in-out 0s 1 reverse
			animation-fill-mode: forwards

.wave
	width: 45vh
	height: 45vh
	opacity: 0.4
	position: absolute
	background: $color_bluegreen
	border-radius: 45%
	transform-origin: 50% 48%
	animation: drift 3000ms infinite linear
	&.-three
	  animation: drift 3500ms infinite linear
	&.-two
	  animation: drift 5000ms infinite linear
	  background-color: yellow
	  opacity: 0.1

@keyframes drift
	from
  	transform: rotate(0deg)
	from
  	transform: rotate(360deg)


@media (max-width: 1200px)
	.home
		margin-right: 55px

// @media (max-width: 992px)
// @media (max-width: 768px)

@media (max-width: 576px)
	.home 
		text-align: left
		height: auto
		margin-right: 40px
		.title
			transform: translateY(-75px)