.works
	.pages
		padding-top: 25px
		height: calc(100vh - 100px)
	.bn
	  position: absolute
	  width: 100%
	  opacity: 0
	  text-align: left
	.bn_top
	  position: relative
	  height: 60vh
	  padding-left: 15%
	.bn_img
	  width: 100%
	  height: 100%
	  background-size: cover
	  &:after
	    content: ""
	    position: absolute
	    right: 0
	    width: 100%
	    height: 100%
	    transition: .8s cubic-bezier(.5,.74,.86,1.06)
	.title
	  position: absolute
	  left: 30px
	  bottom: 0
	  display: inline-block
	  font-size: 4.25rem
	  font-weight: normal
	  margin: 0
	  padding: 2.5rem 2.5rem 3rem
	  text-decoration: underline
	  color: $color_bluegreen
	  z-index: 1
	  opacity: 0
	  transition: 1s .6s
	  transition-property: opacity, left
	.bn_bottom p
	  overflow: hidden
	  margin: 1rem 0
	  padding: 0 25% 0 15%
	  font-size: 1.25rem
	  font-weight: 300
	  line-height: 2rem
	  opacity: 0
	  transition: opacity .6s 1s
	.mouse
	  position: absolute
	  top: 55px
	  right: 30px
	  display: flex
	  justify-content: center
	  width: 25px
	  height: 40px
	  border: 3px solid $color_gray
	  border-radius: 10px 10px 20px 20px
	  background: $color_white
	  .wheel
	    top: 5px
	    width: 5px
	    height: 8px
	    background: #36b9c1
	    animation: mouseWheel 1s linear infinite
	  
	/*banner image*/ 
	.bn:nth-child(1) .bn_img
	  background-image: url(http://res.cloudinary.com/swf711/image/upload/v1536039463/%E4%BD%B3%E9%9F%B39%E6%9C%88%E8%99%9F_%E5%88%86%E5%B1%A4_-1_itkktp.jpg)
	  background-position: center
	.bn:nth-child(2) .bn_img
	  background-image: url(http://res.cloudinary.com/swf711/image/upload/v1536132342/Denmark_odgyxb.jpg)
	  background-position: 0 15%
	.bn:nth-child(3) .bn_img
	  background-image: url(http://res.cloudinary.com/swf711/image/upload/v1536132343/%E5%85%B5%E9%A6%AC%E4%BF%91%E5%B0%81%E9%9D%A2-%E4%BF%AE_couuro.jpg)
	  
	/*bn change*/
	.bn.active
	  opacity: 1
	  .bn_img:after
	    width: 0
	  .title
	    opacity: 1
	    left: 0
	  .bn_bottom p
	    opacity: .75

@media (max-width: 1200px)
	.works
		padding: 0 12% 0 8%

@media (max-width: 991px)
	.works
	  .title
	    font-size: 3rem
	  .bn_bottom p
		  overflow: hidden
		  margin: 1rem 0
		  padding: 0 15%
    
@media (max-width: 768px)
	.works
		.hidden-xs
	    display: none
		.pages
			display: flex
			align-items: center
	  .bn_top
	    height: auto
	    padding-left: 0
	    .bn_img
	      height: 40vh
	  .title
	    position: relative
	    font-size: 2rem
	    padding: 1rem 0
	  .bn_bottom p
	    height: auto
	    overflow: hidden
	    margin: 0 0 1rem
	    padding: 0
	    font-size: 1.25rem
	    font-weight: 300
	    line-height: 2rem
	    color: #fff
	    opacity: 0
	    transition: .6s 1s